@font-face {
    font-family: myFirstFont;
    src: url(Gilroy-SemiBold.ttf);
}

input[type=submit],input[type=text] {
    font-family: myFirstFont;
}
body{
    font-family: myFirstFont;
}
.main{
    color: white;
}
.mask {
    filter: drop-shadow(0 0 0.75rem rgb(248, 248, 248));
  }
#navBarSearchForm input[type=text]{
    width:330px !important;
}
